@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.container, footer {
    width: 550px;
    margin: 0 auto;
}

footer {
  text-align: center;
  font-family: monospace;
  font-size: 16px;
  margin: 20px auto;
}

footer a {
  color: #fafafa;
  text-decoration: none;
}

footer a:hover {
  color: #ff3f3f;
}

@media all and (max-width: 412px) {
  .container, footer {
    width: 340px;
  }

  .container header h1 {
    font-size: 54px;
  }
}

body {
    background: #282828;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.container h1 {
    margin: 100px auto;
    text-align: center;
    font-size: 64px;
    background: -webkit-linear-gradient(-90deg, #ff3f3f 30%, #fad20a 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container h1 span {
    background: -webkit-linear-gradient(-90deg, #f80707 50%, #ffd500 110%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgb(255, 255, 255);
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

.form-group label {
    font-size: 16px;
    font-family: 'Montserrat Semibold', sans-serif;
    margin-bottom: 5px;
  }

  .form-group input,
  .form-group select {
    background: #1A1A1A;
    width: 100%;
    height: 45px;
    border: 1px solid transparent;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 14px;
    padding: 0 15px;
    outline: none;
    transition: border-color 0.2s ease-in;
  }
  
  .form-group input:focus,
  .form-group select:focus {
    border-color: #FF7373;
  }
  
  .form-group button {
    background-image: linear-gradient(-90deg, #FF7373 0%, #FDDB33 100%);
    border-radius: 5px;
    border: 0;
    height: 45px;
    color: #1A1A1A;
    font-size: 16px;
    font-family: 'Montserrat Bold', sans-serif;
    font-weight: bold;
    cursor: pointer;
  }

  .form-group button:hover {
      color: #fafafa;
      font-weight: bold;
      background-image: linear-gradient(-100deg, #ff4343 0%, #ffd506 100%);
      transition: all .2s;
  }
  
  .form-group:last-child {
    margin-top: 40px;
  }
  
  .result-container {
    margin: 50px auto;
  }
  
  .result-content {
    margin-top: 10px;
    background: #1A1A1A;
    border-radius: 5px;
    padding: 15px;
  }
  
  .result-content ul {
    list-style: none;
  }
  
  .result-content ul li {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Montserrat Bold', sans-serif;
    line-height: 30px;
  }
  
  .result-content ul li strong {
    color: #FF7373;
}